.topbar {
    background-color: #1f4d46
}

.topbar_container {
max-width: 1200px;
margin: 0 auto;
padding: 8px 16px;
display: flex;
align-items: center;
justify-content: space-between;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}