@media (max-width: 768px) {
    .topbar-container {
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .topbar_socials {
        justify-content: center;
    }

    .nav {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 12px;
    }

    .search-input {
        display: none;
    }

}